* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

:root {
    --transparent-green: #00717226;
    --transparent-green-focus: #007072;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #cad2d3;
    --bg-primary-color: rgba(2, 82, 89, 0.05);
}


.nav-search {
    width: 660px !important;
    height: 50px !important;
    border-radius: 25px;
    border: none;
    color: var(--black);
    background-color: var(--transparent-green);
}

.nav-search:focus {
    background-color: var(--transparent-green);
    outline: none;
}

.nav-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 170px;
    height: 50px;
    border-radius: 15px;
    color: var(--black) !important;
    background-color: var(--transparent-green);
}

.nav-btn:hover {
    background-color: var(--transparent-green-focus);
    color: var(--white) !important;
    text-decoration: none;
}

.link-nav-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: var(--black);
    text-align: center;
}
/* Inicio da Tabela Principio Ativo */
.custom-table {
    --bs-table-bg: var(--bg-primary-color);
    background-color: var(--bg-primary-color) !important;
    border-collapse: collapse;
       margin: 0 auto; /* centraliza horizontalmente */
}
.custom-table tr {
    border-color: var(--gray);
}
.custom-table th,
.custom-table td {
    padding: 12px 24px;
}
.line{
    width:100%;
    height: 1px;
    background-color: #CFCFC4;
}
.container-padding{
    padding: 0 !important; 
}
/* Fim da Tabela Principio Ativo */
/* Inicio da pagina Cadastrar Remedios */
#card-medicine{
     background-color: var(--bg-primary-color) !important;
     height: 60vh;
}
#card-medicine ul li{
     background-color: var(--bg-primary-color) !important;
}
.input-bg{
    background-color: #edeeee;
}
/* Inicio da pagina Cadastrar Remedios */

/* Botões */
#cancel-button{
    background: var(--white) !important;
    border-color: #D94F04 !important;
    color: #D94F04 !important;
}
#save-button{
    background: #D94F04 !important;
    border-color: #D94F04 !important;
    color: #FFFFFF !important;
}
/* Fim Botões */
/* Inicio da pagina Fornecedores */
.col-3 .card{
    background: #ebeff5;
    display:flex;
    align-items:center;
    height:50vh;
}
.col-3 .card img{
    max-width: 100%;
    height: auto;
    display: block;
}
.search-sm {
    width: 15vw !important;
    height: 6vh !important;
    border-radius: 25px;
    border: none;
    color: var(--black);
    background-color: var(--transparent-green);
}
.search-sm:focus {
    background-color: var(--transparent-green);
    outline: none;
}
/* Fim da pagina Fornecedores */
